<%= simple_form_for(@question) do |f| %>

  <%= f.input :title, label: false, placeholder:'題目' %>
  <%= f.input :subtitle, label: false, placeholder:'說明' %>

  <%= f.simple_fields_for :answers do |answer| %>
    <%= render 'answer_fields', f: answer %>
  <% end %>

  <div class="links">
    <%= link_to_add_association '新增選項', f, :answers, class:'btn btn-primary' %>
    <%= f.button :submit %>
  </div>
<% end %>
